<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <style>
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: center; /* Center text within container */
        }
        .header h1 {
            color: #00a2ff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Enjoy your flight {{ first_name }} {{ last_name }}</h1>
        </div>
    </div>
</body>
</html>
